<%= turbo_frame_tag "modal" do %>
<div class="container">
  <%= nested_form_for @product, data: { controller: "modal" } do |f| %>

    <div class="card mt-2 mb-2">
      <div class="card-body">
      <h3>New Product</h3>
        <div class="mb-3">
          <%= f.label :name, { class: "form-label"} %>
          <%= f.text_field :name, { class: "form-control", placeholder: "Enter Product Name" }  %>
        </div>
        
        <div class="mb-3">
          <%= f.label :upc, { class: "form-label"}  %>
          <%= f.text_field :upc,{ class: "form-control", placeholder: "Enter UPC" }  %>
        </div>
        <div class="mb-3">
          <%= f.label :available_on, { class: "form-label"}  %>
          <%= f.date_field :available_on, { class: "form-control", min: Date.today} %>
        </div>

        <h3>Property</h3>
        <%= f.fields_for :properties ,Property.new do |property_field| %>
          <div class="mb-3">
            <%= property_field.label :name, { class: "form-label"} %>
            <%= property_field.text_field :name, { class: "form-control", placeholder: "Enter Property Name" }  %>
          </div>
          
          <div class="mb-3">
            <%= property_field.label :brand, { class: "form-label"}  %>
            <%= property_field.text_field :brand,{ class: "form-control", placeholder: "Enter Brand" }  %>
          </div>
        <% end %>
        <%= f.submit "Add Product",class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  </div>
<% end %>
<div class="border-red-500"></div>
